<h1>Listing clients</h1>

<table>
  <tr>
	<th></th>
    <th>Name</th>
    <th>Age</th>
    <th>Specialty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= image_tag client.photo.url(:small) %></td>
	<td><b><%= client.name %></b></td>
    <td><%= client.client_age %></td>
    <td><%= client.specialty %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
