<!DOCTYPE html>
<html>
<head>
  <title>Checkpoints</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js", "rails", "highcharts" %>
  <%= javascript_include_tag :high_charts %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
